In [224]:
import pandas as pd
import re
import numpy as np
df1=pd.read_csv('Ref.csv')
df2=pd.read_csv('Raw.csv')

In [206]:
df3=df2[~df2.Name.str.contains('rs')]

In [207]:
df4=pd.merge(df1, df3, on='Name')

In [208]:
df4=df4[df4['RsID'] != '.']

In [209]:
df4.drop(columns=['Name','Index'],axis=1,inplace=True)

In [210]:
df4.rename(columns = {'RsID':'Name'}, inplace = True)

In [212]:
df2.drop(columns=['Index'],axis=1,inplace=True)

In [213]:
df2=df2[df2['Name'].str.contains('rs')]
df2.head()

                 Name    SNP   Address Chr   Position
5240   BOT-rs10136766  [T/C]  64671953  14  106232585
5241  BOT-rs104894363  [T/C]  69797354  12  111356964
5242   BOT-rs10774624  [T/C]  49650981  12  111833788
5243   BOT-rs11216230  [T/C]  67648893   0          0
5244    BOT-rs1135675  [G/C]  89729304   0          0

In [214]:
df2['Name']=df2['Name'].replace(['_'],'-',regex=True)

In [215]:
df2['Name']=df2['Name'].replace(['new'],'new-',regex=True)

In [216]:
df2['Name']=df2['Name'].replace(['RS'],'rs',regex=True)

In [217]:
df2['Name']=df2['Name'].str.findall(r'\brs\d*\b')

In [220]:
df5=pd.concat([df4,df2],ignore_index=True)

In [221]:
pd.DataFrame(df5).to_csv('abc.csv')